EXPO_PUBLIC_WEBAPP_URL=https://example.amplifyapp.com
EXPO_PUBLIC_BLE_SERVICE_UUID=7d91fe2e-a88d-44c0-a3f0-3e01621ac282
EXPO_PUBLIC_API_BASE_URL=https://example.execute-api.ap-northeast-2.amazonaws.com
EXPO_PUBLIC_COGNITO_DOMAIN=https://example.auth.ap-northeast-2.amazoncognito.com
EXPO_PUBLIC_COGNITO_CLIENT_ID=replace-with-public-app-client-id
